* {
    margin: 0;
    padding: 0;
    
    }


html {

    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}


header {
    background-color: #1F2937;
    color: #E5E7EB;
}

.Logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 10px;
    
    
}

.container {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
    padding-top: 13px;
    
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.Herotext {
    font-size: 45px;
    font-size: 800;
    color: #F9FAF8;
}

.undertext {
    font-size: 15px;
    color: #E5E7EB;

}

.containertwo {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
    
}



#btn {

    padding: 3px 15px 3px 15px;
    background-color: #3882F6;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

.hero_under {
    padding-left: 24px;
}

#img {
    padding-right: 24px;
    
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 15px;
    
    
}

.title {
    text-align: center;
    color: #1F2937;
    padding-top: 20px;
}


section {
    min-height: 100vh;
}


.box {
    width: 123px;
}

.box_undertext {
    font-size: small;
    text-align: center;
}

.box_container {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-top: 30px;
}


.round_corners_img {
    border-radius: 7%;
}


