* {
    margin: 0;
    padding: 0;
    
    }


html {

    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    
}


header {
    background-color: #1F2937;
    color: #E5E7EB;
}

.Logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 10px;
    
    
}

.container {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
    padding-top: 13px;
    
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.Herotext {
    font-size: 45px;
    font-size:900;
    color: #F9FAF8;
}

.undertext {
    font-size: 15px;
    color: #E5E7EB;

}

.containertwo {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
    
}



#btn {

    padding: 3px 15px 3px 15px;
    background-color: #3882F6;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

.hero_under {
    padding-left: 24px;
}

#img {
    padding-right: 24px;
    
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
  /*  margin-top: auto; */
    padding: 15px;
    font-size: 10;
    padding: 20px;
    
    
    
}

.title {
    text-align: center;
    color: #1F2937;
    padding-top: 20px;
}


section {
    min-height: 100vh;
    flex-grow: 1;
}


.box {
    width: 123px;
}

.box_undertext {
    font-size: small;
    text-align: center;
}

.box_container {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-top: 40px;
    padding: 40px;
}


.round_corners_img {
    border-radius: 7%;
}


.quote_wrapper {
    background-color: #E5E7EB;
    text-align: center;
    margin-top: 30px;
    padding: 80px;
    
}

.inspiring_quote {
    font-size: 25px;
    color: #8c8c8c;
    font-style: italic;
    font-weight: 100;
}

.autors {
    padding-left: 350px;
    color: #1F2937;
    font-weight: 900;
    padding-top: 20px;
}

.call_to_action {
    background-color: #3882F6;
    height: 80px;
    
    
    width: 600px;

}

.wrappprr {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    padding: 50px;
    
    
    
}

.buttn {
    padding: 1px 13px 2px 13px;
    background-color: #3882F6;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid white;
    font-size: small;
    
    
}

.testttt {
    display: flex;
}

.call_to_action {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.small_txt {
    font-size: 10px;
}

.bttn_div {
    padding-left: 50px;
}